body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#clock {
    float: right;
}

hr  {
    color: red;
}

#tiles {
    background: white;
    height: 50em;
    border-radius: 5em;
    border-collapse: collapse;
    border: none;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#likes {
    float:right;
}

.glyphicon:hover {
  color: #d3a82a;
  box-shadow: #75b0df;
}

.btn {
    float: right;
    color: #403454;
    background-color: #d3a82a;
    border: none;
}

.btn:hover {
    color: #403454;
    background-color: #eabc4b;
    border: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#projectText {
    text-decoration: none;
    color: #000000;
}

#projectText:hover {
    opacity: 0.5;
}

.team {
    width : 200px;
    height : 100px;
    display : table-cell;
    vertical-align : middle;
    border : 2px solid #D7A900;
    float: none;
    background-color: #39275B;
    color: #D7A900;
}

#share, #Description {
    color:#39275B
}

#projectDescr {
    border: none;
}

#name {
    font-weight: bold;
}

#project-description {
    height: 150px;
    text-align: left;
}

#projectImgDisplay {
    border-radius: 10px;
    width: 42em;
    position: inherit;
    padding-bottom: 3em;
}

td {
    border: hidden;
}

#projectTextDisplay {
    font-weight: bold;
    font-size: 18px;
}

#submitButton {
    margin-right: 1em;
}

#hover {
    cursor: pointer;
}


#img-main {
    border: 5px solid #FFFFFF;
}

#titles {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 30px;
    text-align: left;
}

#upperText {
    background: none;
}

.is-error {
    border: 1px solid #FF0000;
}

.help-block {
    color: #FF0000;
}

/*#team-name1 {
     border: 1px solid #FF0000;
}*/
/*
.required-field {
    border: 10px solid #FF0000;
}*/
 