<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/extra.css"/>
        <link rel="icon" href="img/iSchool-logo.png">

        <title>iSchool Capstone Index</title>
    </head>
    <body class="container-fluid">
          <main ng-app="CapstonesList" ng-controller="CapstonesController">
                <section id="content">
                  <h1 id="titles">Welcome to the Information School Capstones Page</h1>
                  <section id="upperText">
                      <h2>Search for the Capstones here</h2>
                  </section>
                  <hr>
                  <section class="row">
                    <div class="col-md-6">
                      <div class="timer">
                          <h1>Countdown until next Capstone
                          <br>
                          <span id="countdown"></span></h1>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <p><a href="entry.html" class="btn btn-primary">New Entry</a></p>
                    </div>
                  </section>
                  <hr>
                  <div class="form-group">
                      <label for="category" class="col-sm-2 control-label">Show me</label>
                      <div class="col-sm-2">
                          <select name="category" id="category" class="form-control" ng-model="category" ng-change="filter()">
                              <option value="" selected disabled>Category</option>
                              <option value="categoryAll">All</option>
                              <option value="category1">Software</option>
                              <option value="category2">Wearables</option>
                              <option value="category3">Health</option>
                              <option value="category4">Mobile</option>
                              <option value="category5">Web</option>
                              <option value="category6">Innovation</option>
                          </select>
                      </div>

                      <label for="year" class="col-sm-2 control-label">Projects for</label>
                      <div class="col-sm-2">
                          <select name="year" id="year" class="form-control" ng-model="year" ng-change="filter()">
                              <option value="" selected disabled>Year</option>
                              <option value="yearAll">All</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                          </select>
                      </div>

                      <label for="program" class="col-sm-2 control-label">Sorted by</label>
                      <div class="col-sm-2">
                          <select name="program" id="program" class="form-control" ng-model="program" ng-change="filter()">
                              <option value="" selected disabled>Program</option>
                              <option value="sortedAll">All</option>
                              <option value="info">INFO</option>
                              <option value="mlis">MLIS</option>
                              <option value="msim">MSIM</option>
                          </select>
                      </div>
                  </div>

                  <div>
                      <table class="col-md-4 col-l-3 col-xl-2" id="tiles" ng-repeat="capstone in capstones">
                          <tr>
                              <td>
                                  <a href="project.html?={{capstone.objectId}}" id="projectText">
                                      <div id="projectImgDisplay">
                                          <img src="{{capstone.image.url}}">
                                      </div>
                                      <div id="projectTextDisplay">
                                          <h3>{{capstone.title}}</h3>
                                      </div>
                                      <div id="projectTextBody">
                                          <textarea id="projectDescr" cols="75" rows="14" disabled>{{capstone.description}}</textarea>
                                      </div>
                                  </a>
                                  <br><p id="likes">{{capstone.likes || 0}}
                                  <span id="hover" class="glyphicon glyphicon-thumbs-up" ng-click="incrementLikes(capstone, 1)"></span>
                              </td>
                          </tr>
                      </table>
                  </div>
            </section>
        </main>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/app.js"></script>
          
</html>

