<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/extra.css"/>
        <link rel="icon" href="img/iSchool-logo.png">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>

        <title>Projects Page</title>
    </head>
    <body ng-app="CapstonesList" ng-controller="ProjectController">
        <main class="container" ng-repeat="capstone in capstones">
            <section id="Name">
                <div class="row col-xs-8 col-xl-8">
                    <p></p>
                    <h1>{{capstone.title}}</h1>
                    <p></p>
                </div>
                <div class="row col-xs-4 col-xl-4" id="share">
                    <p></p>
                    <h2>Share this Project</h2>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.sharelinkgenerator.com/"><img src="img/Facebook-icon.png" alt="Facebook"/></a>
                    <a href="https://twitter.com/home?status=Check%20out%20this%20awesome%20project!"><img src="img/Twitter-icon.png" alt="Twitter"/></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.sharelinkgenerator.com/&title=Check%20out%20this%20awesome%20Project!&summary=This%20is%20amazing!&source=UW%20iSchool%20Capstone%20Projects"><img src="img/LinkedIn-icon.png" alt="LinkedIn"/></a>
                    <a href="https://www.reddit.com/"><img src="img/Reddit-icon.png" alt="Reddit"/></a>
                    <p></p>
                </div>
            </section>

            <section id="Overview">
                <div class="row col-xs-7  col-xl-7">
                    <img id="img-main" src="{{capstone.image.url}}" alt="Project Banner"/>
                </div>
                <div class="row col-xs-1 col-xl-1">
                    <p></p>
                </div>

                <section class="gallery">
                    <div class="row col-xs-8 col-xl-8">
                        <p></p>
                        <div class="col-xs-2 col-xl-2">
                            <img class="img-responsive thumbnail" src="{{capstone.image.url}}" alt="Thumb 1" ng-click="changePic(capstone.image.url)">
                        </div>
                        <div class="col-xs-2 col-xl-2">
                            <img class="img-responsive thumbnail" src="{{capstone.image2.url}}" alt="Thumb 2" ng-click="changePic(capstone.image2.url)" ng-hide="capstone.image2.url == null">
                        </div>
                        <div class="col-xs-2 col-xl-2">
                            <img class="img-responsive thumbnail" src="{{capstone.image3.url}}" alt="Thumb 3" ng-click="changePic(capstone.image3.url)" ng-hide="capstone.image3.url == null">
                        </div>
                        <div class="col-xs-2 col-xl-2">
                            <img class="img-responsive thumbnail" src="{{capstone.image4.url}}" alt="Thumb 4" ng-click="changePic(capstone.image4.url)" ng-hide="capstone.image4.url == null">
                        </div>
                    </div>
                </section>
            </section>

            <section id="Description">
                <div class="row col-xs-7 col-xl-7">
                    <h2>Project Description</h2>
                    <p></p>
                    <textarea id="Text" cols="103" rows="15" disabled>{{capstone.description}}</textarea>
                </div>

            </section>

            <section id="Team">
                <div class="row col-xs-4 col-xl-4 span6 team">
                    <p></p>
                    <h3>Team Info</h3>
                    <p></p>
                    <div id="teamMember1">
                        <a href="{{capstone.TeamMemberLinkedIn1.url}}"><img src="{{capstone.TeamMemberPic1.url}}" alt="Team Member 1" class="img-circle"/></a>
                        <h4>{{capstone.TeamMemberName1}}</h4>
                        <p>{{capstone.TeamMemberPosition1}}</p>
                    </div>
                    <div id="teamMember2" ng-hide="capstone.TeamMemberName2 == null">
                        <a href="{{capstone.TeamMemberLinkedIn2.url}}"><img src="{{capstone.TeamMemberPic2.url}}" alt="Team Member 2" class="img-circle"/></a>
                        <h4>{{capstone.TeamMemberName2}}</h4>
                        <p>{{capstone.TeamMemberPosition2}}</p>
                    </div>
                    <div id="teamMember3" ng-hide="capstone.TeamMemberName3 == null">
                        <a href="{{capstone.TeamMemberLinkedIn3.url}}"><img src="{{capstone.TeamMemberPic3.url}}" alt="Team Member 3" class="img-circle"/></a>
                        <h4>{{capstone.TeamMemberName3}}</h4>
                        <p>{{capstone.TeamMemberPosition3}}</p>
                    </div>
                    <div id="teamMember4" ng-hide="capstone.TeamMemberName4 == null">
                        <a href="{{capstone.TeamMemberLinkedIn4.url}}"><img src="{{capstone.TeamMemberPic4.url}}" alt="Team Member 4" class="img-circle"/></a>
                        <h4>{{capstone.TeamMemberName4}}</h4>
                        <p>{{capstone.TeamMemberPosition4}}</p>
                    </div>
                    <div id="teamMember5" ng-hide="capstone.TeamMemberName5 == null">
                        <a href="{{capstone.TeamMemberLinkedIn5.url}}"><img src="{{capstone.TeamMemberPic5.url}}" alt="Team Member 5" class="img-circle"/></a>
                        <h4>{{capstone.TeamMemberName5}}</h4>
                        <p>{{capstone.TeamMemberPosition5}}</p>
                    </div>
                </div>
            </section>
        </main>
    </body>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="js/app.js"></script>

</html>